# Panduan lengkap tentang mengabaikan file: https://docs.github.com/en/get-started/getting-started/git/ignoring-files

# Dependensi Proyek
node_modules/
.pnp/
.pnp.js

# Lingkungan Pengembangan Expo
.expo/
dist/
web-build/
expo-env.d.ts

# File Sumber Asli dan Kredensial
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Platform Spesifik
.kotlin/
android/
ios/
*.gradle
*.properties

# Konfigurasi Pembangunan
build/
*.apk
*.aab

# Debugging dan Log
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# Berkas Lingkungan Lokal
.env*.local
.env.development
.env.production

# TypeScript
*.tsbuildinfo

# Sistem Operasi
.DS_Store
*.pem

# Berkas Contoh dan Tambahan
app-example/
*.log
.vscode/
.idea/
